body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #00274d;
    color: #333;
}

.differ{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    backface-visibility:40px;
}

.differ-item {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 150px;
    box-shadow: 0px 4px 8px rgba(249, 6, 6, 0.1);
}

.differ-item h2 {
    margin-top: 5px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.differ-item ul{
    color: #00274d;
}

